<div class="clients-section">
    <h2>Our Clients</h2>
    <div class="clients-logos">
        <img src="assets/icons/client1.png" alt="Client 1 Logo">
        <img src="assets/icons/client2.png" alt="Client 2 Logo">
        <img src="assets/icons/client3.png" alt="Client 3 Logo">
        <img src="assets/icons/client4.png" alt="Client 4 Logo">
    </div>
    <div class="testimonials">
        <blockquote>
            <p>"This company has transformed our business!"</p>
            <cite>- Client Name</cite>
        </blockquote>
        <blockquote>
            <p>"Exceptional service and support!"</p>
            <cite>- Client Name</cite>
        </blockquote>
    </div>
</div>